<h1>User Sign Up</h1>
<%= render 'layouts/errors' %>
<form action="<%= users_url %>" method="POST">

  <%= auth_token %>

  <label>Username</label>
    <input type="text" name="user[username]" value="<%= @user.username %>">

  <label>Password</label>
    <input type="password" name="user[password]" value="<%= @user.password %>">
    <input type="submit" value="Sign Up">

</form>
