<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/errors' %>
<% if current_user.nil? %>
  <%= link_to "Sign In", new_session_url %>
  <%= link_to "Sign Up", new_user_url %>
<% else %>
  <%= current_user.username %>
  <%= button_to "Sign Out", session_url, method: :delete %>
<% end %>
<%= yield %>

</body>
</html>
